h3 {
  text-shadow: 1px 3px 11px #655e5e;
}

h2 {
  font-family: "Oswald", sans-serif;
}

#cncc,
p a {
  color: rgb(61, 43, 226);
}

a {
  color: black;
  text-decoration: none;
  line-height: 2rem;
}
* {
  line-height: 1.6rem;
}

h4::first-letter {
  font-size: 150%;
  font-weight: 800;
}
body {
  padding-left: 2rem;
  font-family: "Noto Sans KR", sans-serif;
}

#pa {
  text-align: center;
  text-decoration: underline;
}
